PORT=3000
DATABASE_URL=postgresql://postgres.pcaqkjjifhjijuyqrcla:Yf0349d1%2B0205@aws-0-us-east-1.pooler.supabase.com:5432/postgres
DATABASE_SSL=true
JWT_SECRET=jao9h5ZKHbUyq5BHpV7z2I+uBVN8ROsO7PvNdH+5YB/49Kx9nV5khhKEl7zHDLpf
JWT_EXPIRES_IN=15m
CORS_ORIGIN=http://localhost:5500,https://banco-atm-cajero.onrender.com
SERVE_ATM=false